// Colors
$clr1: #f9f9f9;
$clr2: #7D5A93;
$clr3: #BC588E;
$clr4: #EB5E6E;
$clr5: #FB7D3D;
$clr6: #7d5a9327;

// Breakpoints
$mobile-breakpoint: 600px;
$narrow-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;
